@use "./reset.scss";
@use "./themes/dark.scss";
@use "./themes/light.scss";
@use "./variables/global.scss";
@use "./specialClasses/specialClasses.scss";

.app {
    background: var(--main-bg);
    color: var(--main-bg-inv);
    font: var(--font-m);
    min-height: 100svh;
}

.container {
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-title {
    max-width: 1600px;
    font-size: 65px;
    line-height: 83px;
    text-wrap: balance;
    text-align: center;
    margin: 0 auto 50px;
}

.title {
    font: var(--font-l);
    font-weight: 700;
    margin-bottom: var(--std-titleMb);
}
