.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    padding: 20px;
    font-weight: 700;
    background: var(--main-bg-inv);
    color: var(--main-bg);
    cursor: pointer;
    transition: 0.3s;
}

.outline,
.outlineRadius {
    background: transparent;
    border: 3px solid var(--main-bg-inv);
    color: var(--main-bg-inv);
}

.outline:hover,
.outlineRadius:hover {
    background: var(--main-bg-inv);
    color: var(--main-bg);
}

.full,
.fullRadius {
    background: var(--main-bg-inv);
    color: var(--main-bg);
}

.outlineRadius,
.fullRadius {
    border-radius: var(--std-Radius);
}

.square {
    width: 40px;
    height: 40px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.toggleTheme {
    position: relative;
    max-width: 80px;
    padding: 3px 6px;
    height: calc(var(--toggleBtnSlider-size) + 6px);
    border-radius: var(--std-Radius);
}

