.inputBox {
    padding: var(--std-padding);
    background-color: var(--main-bg-inv-light);
    border-radius: var(--small-Radius);
}

.input {
    background: transparent;
    padding-left: 10px;
    color: var(--main-bg);
}
