.header {
    margin-bottom: 100px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
    border-radius: var(--std-Radius);
    padding: var(--std-padding);
}

.functional {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    flex-grow: 1;
}

.navList {
    display: flex;
    align-items: center;
    gap: 30px;
}
